.myrows{
    border:3px solid green;
    padding: 5px;
}
.mycols{
    border: 3px solid red
}
.mycontainer{
    background-color: aqua;
    
}
#topbar{
    background-color: ghostwhite;
    border-bottom: 1px solid red;
}
#topbar a{
    color:#2c3e50;
    font-weight:600;
    font-size:0.89rem;

}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
.nav-item{
    padding-left:0px;
    padding-right: 5px;

}
.full-footer{
    background-color: #34495e;
    /* position: absolute;
    bottom:0;
    width:100%; */
}
.top-footer p{
    color: white;

}
.top-footer h3{
    color: white;
}
.bottom-footer p{
    color: white;
    background-color: #2c3e50;
    bottom:0;
}
.top-section{
    background-color: rgb(0, 181, 204);
    color:white;
}
.top-section a{
    color: white;
}
.quality-img{
    width:75px;
}
